@mixin translateY($translate-y) {
    -webkit-transform: translateY($translate-y);
    -moz-transform: translateY($translate-y);
    -ms-transform: translateY($translate-y);
    -o-transform: translateY($translate-y);
    transform: translateY($translate-y);
}
@mixin translate($translate-x, $translate-y) {
    -webkit-transform: translate($translate-x, $translate-y);
    -moz-transform: translate($translate-x, $translate-y);
    -ms-transform: translate($translate-x, $translate-y);
    -o-transform: translate($translate-x, $translate-y);
    transform: translate($translate-x, $translate-y);
}