//fons
$font-oswald: 'Oswald',
sans-serif;
$font-montserrat: 'Montserrat',
sans-serif;


//colors
$light-grey:#707070;
$ateneo-blue:#00426B;
$light-ateneo-blue:#003F67;
$tan-sand:#EDAE49;
$dark-sand:#FFBB00;
$light-aqua:#5BC0BE;
$dark-aqua:#38AFB5;
$orange:#F37021;
$white:#FFFFFF;
$blue-facebook:#044BA3;
$baby-blue-twitter:#06B4FD;
$red-youtube:#E14E42;
$pink-instgram:#E12F67;