.banner {
    padding-bottom: 200px;
    background: $ateneo-blue;
    position: relative;
    margin-top: -277px;
    margin-bottom: -15.4%;
    z-index: -1;

    @include media-breakpoint-down(lg) {
        padding-bottom: 100px;
        min-height: 700px;
    }

    .banner-titles {
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
        z-index: 2;
        @include media-breakpoint-down(sm) {
            h1{
                font-size: 40px;
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        background: rgb(0, 66, 107);
        top: calc(100% - 200px);
        bottom: 0px;
        right: 0;
        left: 0;
        z-index: 1;
    }
}

.banner-carousel {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background: rgb(0, 66, 107);
        background: linear-gradient(0deg, rgba(0, 66, 107, 0) 0%, rgba(0, 66, 107, 1) 100%);
        top: 0;
        bottom: 70%;
        right: 0;
        left: 0;
        z-index: 2;
    }

    &::after {
        content: "";
        position: absolute;
        background: rgb(0, 66, 107);
        background: linear-gradient(0deg, rgba(0, 66, 107, 1) 0%, rgba(0, 66, 107, 0) 100%);
        top: 54%;
        bottom: 0px;
        right: 0;
        left: 0;
        z-index: 1;
    }

    .owl-carousel {
        @extend .main-title;

        @include media-breakpoint-up(xl) {
            &::before {
                content: "AQUA";
                position: absolute;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 2px $white;
                writing-mode: vertical-rl;
                text-orientation: upright;
                color: rgba(255, 255, 255, 0.5);
                z-index: 1;
                top: -70px;
                font-size: 172px;
                letter-spacing: -64px;
                opacity: 0.5;
            }

            &::after {
                content: "NAUT";
                position: absolute;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 2px $white;
                writing-mode: vertical-rl;
                text-orientation: upright;
                color: rgba(255, 255, 255, 0.5);
                z-index: 1;
                top: 0;
                font-size: 172px;
                letter-spacing: -64px;
                opacity: 0.5;
                left: 7%;
            }
        }

        .owl-item {
            img {
                @include media-breakpoint-down(lg) {
                    min-height: 500px;
                }
            }
        }

    }
}

.vertical-carousel-dots {
    position: absolute;
    top: 50%;
    right: 20%;
    z-index: 1;
    display: flex;
    flex-direction: column;

}