.footer {
    color: $white;
}

.footer-logo {
    width: 158px;
    height: 173px;
}

.footer-media-icon {
    padding: 0 15px;

    @include media-breakpoint-down(lg) {
        padding: 15px;
    }

    &:hover {
        svg {
            use {
                fill: $tan-sand;
            }
        }

    }
}

.contact-info-list {
    @extend .white-color;
    @extend .sub-title;
    @extend .title-size-14;
    list-style-type: "\0101A0";
    padding-left: 10px;

    li {
        padding-left: 20px;
    }
}

.weather-info-list {
    li {
        display: flex;
        align-items: center;

        h3 {
            @extend .my-0;
            flex-basis: 50%;
            white-space: nowrap;
        }

        &:first-of-type {
            svg {
                use {
                    fill: $orange;
                }
            }
        }
    }
}

.share-icon {
    width: 32px;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    text-align: center;
    svg {
        fill: $white;
    }

    &.facebook {
        background: $blue-facebook;
    }

    &.twitter {
        background: $baby-blue-twitter;
    }

    &.you-tube {
        background: $red-youtube;
    }

    &.instgram {
        background: $pink-instgram;
    }
}