.logo-link {
    background: $white;
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;

    svg {
        z-index: 1;
        width: 120px;
        height: 130px;
    }

    &::after {
        content: "";
        position: absolute;
        clip-path: polygon(40% 0%, 100% 0%, 49% 100%, 0% 20%);
        width: 180px;
        height: 138px;
        background: $white;
        right: -80px;
        top: -23px;

    }

    @include media-breakpoint-down(lg) {
        width: 100px;
        height: 100px;

        svg {
            width: 80px;
            height: 90px;
        }

        &::after {
            clip-path: polygon(40% 0%, 100% 0%, 49% 100%, 0% 28%);
            width: 130px;
            height: 100px;
            background: $white;
            right: -59px;
            top: -23px;
        }
    }
}

.nav {
    .nav-item {
        .sub-menu {
            display: inline-block;
            list-style-type: none;
            padding: 0;

            &::after {
                content: "";
                border: 1px solid rgba($white, 0.5);
            }

            li {
                display: inline-block;
                @include media-breakpoint-down(lg) {
                    display: block;
                }
            }
        }

        &.active {
            a {
                &::after {
                    border-bottom: 2px solid $tan-sand;
                    width: 100%;
                }
            }

        }

        a {
            color: $white;

            @include media-breakpoint-down(lg) {
                color: $light-grey;
            }
        }
    }

    .nav-link {
        svg {
            fill: $white;
        }
    }

    &.navbar-nav {
        .nav-link {
            &::after {
                border-bottom: 2px solid $tan-sand;
                content: "";
                width: 0%;
                display: inline-block;
                float: left;
                transition: width .3s ease 0s;
            }

            &:hover {

                &::after {
                    width: 100%;
                }
            }
        }
    }
}

.navbar-toggler {
    position: absolute;
    right: 0;
    top: 50px;
    background: $white;
    z-index: 1;
}