<footer class="footer bd-footer dark-bg">
    <div class="container">
        <div class="row py-4">
            <div class="col-lg-4 align-self-center">
                <h2 class="main-title title-size-24 white-color">Contact Info</h2>
                <ul class="contact-info-list">
                    <li class="mb-2">Aquanaut Diving Club, Sand Beach Hotel, El-Bahr Street, Hurghada, Red Sea, Egypt
                    </li>
                    <li class="mb-2">+(20) 122 - 4617815 | +(20) 122 - 2480463</li>
                    <li class="mb-2">info@aquanautclub.com</li>
                </ul>
            </div>
            <div class="col-lg-4 align-self-center d-lg-flex justify-content-lg-center d-none d-sm-none white-icon">
                <svg class="icons footer-logo">
                    <use xlink:href="../dist/svg/svg.svg#logo"></use>
                </svg>
            </div>

            <div class="col-lg-4 align-self-center">
                <h2 class="main-title title-size-24 white-color">Red Sea Weather</h2>
                <ul class="list-unstyled weather-info-list">
                    <li class="mb-2">
                        <h3 class="sub-title title-size-14">Air Temp</h3>
                        <svg class="icons mx-2" width="25" height="25">
                            <use xlink:href="../dist/svg/svg.svg#sun"></use>
                        </svg>
                        <span class="sub-title title-size-18">34<sup>oC</sup></span>
                    </li>
                   
                    <li class="mb-2 transparent-icon">
                        <h3 class="sub-title title-size-14">Water Temp</h3>
                        <svg class="icons mx-2" width="25" height="25">
                            <use xlink:href="../dist/svg/svg.svg#wave-shape"></use>
                            <use xlink:href="../dist/svg/svg.svg#wave-shape"></use>
                        </svg>
                        <span class="sub-title title-size-18">26<sup>oC</sup></span>
                    </li>
                    <li class="mb-2 white-icon">
                        <h3 class="sub-title title-size-14">Short Wetsuit Recommended</h3>
                        <svg class="icons mx-2" width="25" height="25">
                            <use xlink:href="../dist/svg/svg.svg#suit-2"></use>
                        </svg>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="widget-border-white white-icon py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 align-self-center">
                    <p class="sub-title title-size-12 my-0">© 2021 Aquanaut Diving Club. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 align-self-center d-flex justify-content-lg-center justify-content-xs-start">
                    <a class="footer-media-icon" href="https://www.facebook.com/divebaseacademy">
                        <svg class="icons" width="16" height="16">
                            <use xlink:href="../dist/svg/svg.svg#facebook"></use>
                        </svg>
                    </a>
                    <a class="footer-media-icon" href="#.">
                        <svg class="icons" width="19" height="14">
                            <use xlink:href="../dist/svg/svg.svg#twitter"></use>
                        </svg>
                    </a>
                    <a class="footer-media-icon" href="https://www.youtube.com/channel/UCqicinqRffImSnL9aTpvxDw/">
                        <svg class="icons" width="16" height="16">
                            <use xlink:href="../dist/svg/svg.svg#you-tube"></use>
                        </svg>
                    </a>
                    <a class="footer-media-icon" href="https://www.instagram.com/dba.hurghada">
                        <svg class="icons" width="16" height="16">
                            <use xlink:href="../dist/svg/svg.svg#instgram-v2"></use>
                        </svg>
                    </a>
                </div>

                <div class="col-lg-4 align-self-center">
                    <p class="sub-title title-size-12 my-0">Powered by <span class="aqua-color">innovix solutions</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>