<head>
  <title>test</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../dist/css/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Montserrat">

</head>