<div class="container">
    <header class="py-3 mb-4 aqua-naut-menu position-relative">
        <!-- <nav id="mobile-menu">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About us</a>
                <ul>
                  <li><a href="/about/history">History</a></li>
                  <li><a href="/about/team">The team</a></li>
                  <li><a href="/about/address">Our address</a></li>
                </ul>
              </li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </nav> -->
        <nav class="navbar navbar-light position-absolute end-0 d-lg-none">
            <div class="container ">

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">aqua naut dive club</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="nav navbar-nav align-items-center ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link main-title title-size-16 white-color" href="/">
                                    Home</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link main-title title-size-16 white-color" href="/blog/">
                                    Dive Center</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link main-title title-size-16 white-color" href="/dive-center">
                                    Daily Trips</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link main-title title-size-16 white-color" href="/dive-center">
                                    Dive Sites</a>
                            </li>
                            <li class="nav-item  ">
                                <a class="nav-link main-title title-size-16 white-color"
                                    href="/courses/beginners-courses/">
                                    Courses</a>
                            </li>
                            <li class="nav-item  ">
                                <a class="nav-link main-title title-size-16 white-color"
                                    href="/courses/beginners-courses/">
                                    Diving Safari</a>
                            </li>
                            <li class="nav-item  ">
                                <a class="nav-link main-title title-size-16 white-color"
                                    href="/courses/beginners-courses/">
                                    Prices</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg d-flex flex-wrap justify-content-between aqua-naut-navigation">
            <a class="logo-link dark-icon">
                <svg class="icons">
                    <use xlink:href="../dist/svg/svg.svg#logo"></use>
                </svg>

            </a>
            <div class="collapse navbar-collapse flex-column align-items-end" id="aqua-menu">
                <ul class="nav sub-navbar-nav ml-auto">
                    <li class="nav-item">
                        <ul class="sub-menu">
                            <li>
                                <a class="nav-link main-title title-size-16 white-color" href="/about-us/">
                                    About us
                                </a>
                            </li>
                            <li>
                                <a class="nav-link main-title title-size-16 white-color" href="/contact-us/">
                                    Contact Us
                                </a>
                            </li>
                            <li>
                                <a class="nav-link main-title title-size-16 white-color" href="/contact-us/">
                                    <svg class="icons" width="16" height="16">
                                        <use xlink:href="../dist/svg/svg.svg#whatsapp"></use>
                                    </svg>
                                    +20 122 234 9114
                                </a>
                            </li>
                        </ul>

                    </li>
                    <li class="nav-item">
                        <ul class="sub-menu">
                            <li>
                                <a class="nav-link main-title title-size-16 white-color" href="/contact-us/">
                                    <svg class="icons" width="16" height="16">
                                        <use xlink:href="../dist/svg/svg.svg#facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link main-title title-size-16 white-color" href="/contact-us/">
                                    <svg class="icons" width="16" height="16">
                                        <use xlink:href="../dist/svg/svg.svg#instagram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link main-title title-size-16 white-color" href="/contact-us/">
                                    <svg class="icons" width="16" height="16">
                                        <use xlink:href="../dist/svg/svg.svg#linkedin-in"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link main-title title-size-16 white-color" href="/contact-us/">
                                    <svg class="icons" width="25" height="16">
                                        <use xlink:href="../dist/svg/svg.svg#trip-advisor"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>

                    </li>

                    <li class="nav-item d-flex align-items-center">
                        <div class="dropdown">
                            <a class="dropdown-toggle language-toggle text-decoration-none main-title title-size-16 white-color"
                            href="#" role="button" id="header-lan" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                            &nbsp;En
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="header-lan">
                            <li>
                                <a class="dropdown-item" href="/" id="lnkEnglish">

                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="/fr/" id="lnkFrensh">

                                </a>
                            </li>


                            <li>
                                <a class="dropdown-item" href="/de/" id="lnkGerman">

                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/ru/" id="lnkRussian">

                                </a>
                            </li>
                        </ul>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav align-items-center ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link main-title title-size-16 white-color" href="/">
                            Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link main-title title-size-16 white-color" href="/blog/">
                            Dive Center</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link main-title title-size-16 white-color" href="/dive-center">
                            Daily Trips</a>
                    </li>
                    <li class="nav-item ">
                        <div class="dropdown">
                            <div class="dropdown">
                                <a class="dropdown-toggle text-decoration-none main-title title-size-16 white-color"
                                    href="#" role="button" id="dive-sites" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Dive Sites
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="dive-sites">
                                    <li><a class="dropdown-item" href="#">Salem Express</a></li>
                                    <li><a class="dropdown-item" href="#">Banana Reef</a></li>
                                    <li><a class="dropdown-item" href="#">Shaab Sabrina</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link main-title title-size-16 white-color" href="/courses/beginners-courses/">
                            Courses</a>
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link main-title title-size-16 white-color" href="/courses/beginners-courses/">
                            Diving Safari</a>
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link main-title title-size-16 white-color" href="/courses/beginners-courses/">
                            Prices</a>
                    </li>
                    <li class="nav-item ">
                        <div class="dropdown">
                            <a class="dropdown-toggle text-decoration-none main-title title-size-16 white-color"
                                href="#" role="button" id="home-media2" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Media
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="home-media2">
                                <li><a class="dropdown-item" href="#">Courses</a></li>
                                <li><a class="dropdown-item" href="#">Diving Safari</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>


        </nav>
    </header>
</div>