<div class="container">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 g-0 justify-content-center">
        <div class="col">
            <figure class="info-boxes white-background">
                <a class="info-boxes-link">
                    <figcaption class="col-12 col-sm-6 white-figcaption right-arrow">
                        <h2 class="info-box-title main-title title-size-30 dark-color">Daily Diving</h2>
                        <span>read more</span>
                    </figcaption>
                    <img class="img-fluid col-12 col-sm-6" src="../assets/images/home/x1/daily-diving.jpg" srcset="../assets/images/home/x2/daily-diving.jpg" alt="Daily Diving"/>
                </a>
            </figure>

        </div>
        <div class="col">
            <figure class="info-boxes tan-sand-background">
                <a class="info-boxes-link">
                    <figcaption class="col-12 col-sm-6 tan-sand-figcaption right-arrow">
                        <h2 class="info-box-title main-title title-size-30 white-color">Snorkeling</h2>
                        <span>read more</span>
                    </figcaption>
                    <img class="img-fluid col-12 col-sm-6" src="../assets/images/home/x1/snorkeling.jpg" srcset="../assets/images/home/x2/snorkeling.jpg" alt="Snorkeling"/>
                </a>
            </figure>
        </div>
        <div class="col">
            <figure class="info-boxes ateneo-blue-background">
                <a class="info-boxes-link">
                    <img class="img-fluid col-12 col-sm-6" src="../assets/images/home/x1/dive-courses.jpg" srcset="../assets/images/home/x2/dive-courses.jpg" alt="Dive Course"/>
                    <figcaption class="col-12 col-sm-6 ateneo-blue-figcaption left-arrow">
                        <h2 class="info-box-title main-title title-size-30 white-color">Dive Courses</h2>
                        <span>read more</span>
                    </figcaption>
                </a>
            </figure>
        </div>
        <div class="col">
            <figure class="info-boxes light-aqua-background">
                <a class="info-boxes-link">
                    <img class="img-fluid col-12 col-sm-6" src="../assets/images/home/x1/diving-safari.jpg" srcset="../assets/images/home/x2/diving-safari.jpg" alt="Diving Safari"/>
                    <figcaption class="col-12 col-sm-6 light-aqua-figcaption left-arrow">
                        <h2 class="info-box-title main-title title-size-30 white-color">Diving Safari</h2>
                        <span>read more</span>
                    </figcaption>
                </a>
            </figure>
        </div>
    </div>
</div>