<div class="container">
    <section class="">
        <h2 class="main-title title-size-30 dark-color ">Diving Activities</h2>
        <div class="card-item-wrapper triple-carousel-item">
            <div class="owl-carousel">
                <div class="card item">
                    <img src="../assets/images/home/x1/full-day-trips.jpg"
                        srcset="../assets/images/home/x2/full-day-trips.jpg" class="card-img-top" alt="Full Day Trips">
                    <div class="card-body">
                        <h3 class="main-title title-size-30 dark-color ">Full Day Trips</h3>
                        <p class="light-grey-color sub-title title-size-16 my-30">Lorem ipsum dolor sit amet,
                            consetetur
                            sadipscing elitr, sed diam nonumy
                            eirod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                    </div>
                    <div class="card-footer">
                        <button class="main-button tan-sand-background w-100">Read more</button>
                    </div>
                </div>
                <div class="card item">
                    <img src="../assets/images/home/x1/wreck-diving.jpg"
                        srcset="../assets/images/home/x2/wreck-diving.jpg" class="card-img-top" alt="Wreck Diving">
                    <div class="card-body">
                        <h3 class="main-title title-size-30 dark-color ">Wreck Diving</h3>
                        <p class="light-grey-color sub-title title-size-16 my-30">Some quick example text to build
                            on
                            the
                            Full Day Trips and make up the bulk
                            of the card's content.</p>
                    </div>
                    <div class="card-footer">
                        <button class="main-button tan-sand-background w-100">Read more</button>
                    </div>
                </div>
                <div class="card item">
                    <img src="../assets/images/home/x1/intro-dive.jpg" srcset="../assets/images/home/x2/intro-dive.jpg"
                        class="card-img-top" alt="Intro Dive (Try Dive)">
                    <div class="card-body">
                        <h3 class="main-title title-size-30 dark-color ">Intro Dive (Try Dive)</h3>
                        <p class="light-grey-color sub-title title-size-16 my-30">Some quick example text to build
                            on
                            the
                            Full Day Trips and make up the bulk
                            of the card's content.</p>
                    </div>
                    <div class="card-footer">
                        <button class="main-button tan-sand-background w-100">Read more</button>
                    </div>
                </div>
                <div class="card item">
                    <img src="../assets/images/home/x1/full-day-trips.jpg"
                        srcset="../assets/images/home/x2/full-day-trips.jpg" class="card-img-top" alt="Full Day Trips">
                    <div class="card-body">
                        <h3 class="main-title title-size-30 dark-color ">Full Day Trips</h3>
                        <p class="light-grey-color sub-title title-size-16 my-30">Lorem ipsum dolor sit amet,
                            consetetur
                            sadipscing elitr, sed diam nonumy
                            eirod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                    </div>
                    <div class="card-footer">
                        <button class="main-button tan-sand-background w-100">Read more</button>
                    </div>
                </div>
                <div class="card item">
                    <img src="../assets/images/home/x1/wreck-diving.jpg"
                        srcset="../assets/images/home/x2/wreck-diving.jpg" class="card-img-top" alt="Wreck Diving">
                    <div class="card-body">
                        <h3 class="main-title title-size-30 dark-color ">Wreck Diving</h3>
                        <p class="light-grey-color sub-title title-size-16 my-30">Some quick example text to build
                            on
                            the
                            Full Day Trips and make up the bulk
                            of the card's content.</p>
                    </div>
                    <div class="card-footer">
                        <button class="main-button tan-sand-background w-100">Read more</button>
                    </div>
                </div>
                <div class="card item">
                    <img src="../assets/images/home/x1/intro-dive.jpg" srcset="../assets/images/home/x2/intro-dive.jpg"
                        class="card-img-top" alt="Intro Dive (Try Dive)">
                    <div class="card-body">
                        <h3 class="main-title title-size-30 dark-color ">Intro Dive (Try Dive)</h3>
                        <p class="light-grey-color sub-title title-size-16 my-30">Some quick example text to build
                            on
                            the
                            Full Day Trips and make up the bulk
                            of the card's content.</p>
                    </div>
                    <div class="card-footer">
                        <button class="main-button tan-sand-background w-100">Read more</button>
                    </div>
                </div>
                <div class="card item">
                    <img src="../assets/images/home/x1/full-day-trips.jpg"
                        srcset="../assets/images/home/x2/full-day-trips.jpg" class="card-img-top" alt="Full Day Trips">
                    <div class="card-body">
                        <h3 class="main-title title-size-30 dark-color ">Full Day Trips</h3>
                        <p class="light-grey-color sub-title title-size-16 my-30">Lorem ipsum dolor sit amet,
                            consetetur
                            sadipscing elitr, sed diam nonumy
                            eirod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                    </div>
                    <div class="card-footer">
                        <button class="main-button tan-sand-background w-100">Read more</button>
                    </div>
                </div>
                <div class="card item">
                    <img src="../assets/images/home/x1/wreck-diving.jpg"
                        srcset="../assets/images/home/x2/wreck-diving.jpg" class="card-img-top" alt="Wreck Diving">
                    <div class="card-body">
                        <h3 class="main-title title-size-30 dark-color ">Wreck Diving</h3>
                        <p class="light-grey-color sub-title title-size-16 my-30">Some quick example text to build
                            on
                            the
                            Full Day Trips and make up the bulk
                            of the card's content.</p>
                    </div>
                    <div class="card-footer">
                        <button class="main-button tan-sand-background w-100">Read more</button>
                    </div>
                </div>
                <div class="card item">
                    <img src="../assets/images/home/x1/intro-dive.jpg" srcset="../assets/images/home/x2/intro-dive.jpg"
                        class="card-img-top" alt="Intro Dive (Try Dive)">
                    <div class="card-body">
                        <h3 class="main-title title-size-30 dark-color ">Intro Dive (Try Dive)</h3>
                        <p class="light-grey-color sub-title title-size-16 my-30">Some quick example text to build
                            on
                            the
                            Full Day Trips and make up the bulk
                            of the card's content.</p>
                    </div>
                    <div class="card-footer">
                        <button class="main-button tan-sand-background w-100">Read more</button>
                    </div>
                </div>
                <div class="card item">
                    <img src="../assets/images/home/x1/full-day-trips.jpg"
                        srcset="../assets/images/home/x2/full-day-trips.jpg" class="card-img-top" alt="Full Day Trips">
                    <div class="card-body">
                        <h3 class="main-title title-size-30 dark-color ">Full Day Trips</h3>
                        <p class="light-grey-color sub-title title-size-16 my-30">Lorem ipsum dolor sit amet,
                            consetetur
                            sadipscing elitr, sed diam nonumy
                            eirod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                    </div>
                    <div class="card-footer">
                        <button class="main-button tan-sand-background w-100">Read more</button>
                    </div>
                </div>
                <div class="card item">
                    <img src="../assets/images/home/x1/wreck-diving.jpg"
                        srcset="../assets/images/home/x2/wreck-diving.jpg" class="card-img-top" alt="Wreck Diving">
                    <div class="card-body">
                        <h3 class="main-title title-size-30 dark-color ">Wreck Diving</h3>
                        <p class="light-grey-color sub-title title-size-16 my-30">Some quick example text to build
                            on
                            the
                            Full Day Trips and make up the bulk
                            of the card's content.</p>
                    </div>
                    <div class="card-footer">
                        <button class="main-button tan-sand-background w-100">Read more</button>
                    </div>
                </div>
                <div class="card item">
                    <img src="../assets/images/home/x1/intro-dive.jpg" srcset="../assets/images/home/x2/intro-dive.jpg"
                        class="card-img-top" alt="Intro Dive (Try Dive)">
                    <div class="card-body">
                        <h3 class="main-title title-size-30 dark-color ">Intro Dive (Try Dive)</h3>
                        <p class="light-grey-color sub-title title-size-16 my-30">Some quick example text to build
                            on
                            the
                            Full Day Trips and make up the bulk
                            of the card's content.</p>
                    </div>
                    <div class="card-footer">
                        <button class="main-button tan-sand-background w-100">Read more</button>
                    </div>
                </div>
            </div>
            <div class="carousel-dots-wrapper"></div>
            <div class="carousel-navigation-wrapper"></div>
            <button class="transparent-btn title-size-20 mx-auto">All Activities</button>
        </div>
    </section>
</div>
<div class="activites-bg">
</div>
<div class="container">
    <section class="diving-courses-section">
        <h2 class="main-title title-size-30 dark-color ">Dive Courses</h2>
        <div class="single-carousel-item">
            <div class="owl-carousel">
                <div class="card item mb-3 diving-courses-card">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <img src="../assets/images/home/x1/courses.jpg"
                                srcset="../assets/images/home/x2/courses.jpg" class="card-img-top"
                                alt="Full Day Trips">
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                <h3 class="card-title main-title title-size-24">Beginners Courses</h3>
                                <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitrsed diam
                                    nonumy </p>
                                <ul class="row list-group">
                                    <li class="col-12 list-group-item">
                                        <h4 class="title-size-14 sub-title mb-0">Scuba Diver</h4>
                                        <strong class="title-size-18 main-title">€ 180</strong>
                                    </li>
                                    <li class="col-12 list-group-item">
                                        <h4 class="title-size-14 sub-title mb-0">Open Water Diver</h4>
                                        <strong class="title-size-18 main-title">€ 280</strong>
                                    </li>
                                    <li class="col-12 list-group-item">
                                        <h4 class="title-size-14 sub-title mb-0">Adventure Diver</h4>
                                        <strong class="title-size-18 main-title">€ 100</strong>
                                    </li>
                                    <li class="col-12 list-group-item">
                                        <h4 class="title-size-14 sub-title mb-0">Advanced Open Water</h4>
                                        <strong class="title-size-18 main-title">€ 220</strong>
                                    </li>
                                    <li class="col-12 list-group-item">
                                        <h4 class="title-size-14 sub-title mb-0">Rescue Diver</h4>
                                        <strong class="title-size-18 main-title">€ 320</strong>
                                    </li>
                                    <li class="col-12 list-group-item">
                                        <h4 class="title-size-14 sub-title mb-0">Divemaster</h4>
                                        <strong class="title-size-18 main-title">€ 620</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card item mb-3 diving-courses-card white-color">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <img src="../assets/images/home/x1/courses.jpg"
                                srcset="../assets/images/home/x2/courses.jpg" class="card-img-top"
                                alt="Full Day Trips">
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                <h5 class="card-title">Beginners Courses</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitrsed diam
                                    nonumy </p>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h4 class="title-size-14 sub-title mb-0">Scuba Diver</h4>
                                        <strong class="title-size-18 main-title">€ 180</strong>
                                    </li>
                                    <li class="list-group-item">
                                        <h4 class="title-size-14 sub-title mb-0">Open Water Diver</h4>
                                        <strong class="title-size-18 main-title">€ 280</strong>
                                    </li>
                                    <li class="list-group-item">
                                        <h4 class="title-size-14 sub-title mb-0">Adventure Diver</h4>
                                        <strong class="title-size-18 main-title">€ 100</strong>
                                    </li>
                                    <li class="list-group-item">
                                        <h4 class="title-size-14 sub-title mb-0">Advanced Open Water</h4>
                                        <strong class="title-size-18 main-title">€ 220</strong>
                                    </li>
                                    <li class="list-group-item">
                                        <h4 class="title-size-14 sub-title mb-0">Rescue Diver</h4>
                                        <strong class="title-size-18 main-title">€ 320</strong>
                                    </li>
                                    <li class="list-group-item">
                                        <h4 class="title-size-14 sub-title mb-0">Divemaster</h4>
                                        <strong class="title-size-18 main-title">€ 620</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card item mb-3 diving-courses-card">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <img src="../assets/images/home/x1/courses.jpg"
                                srcset="../assets/images/home/x2/courses.jpg" class="card-img-top"
                                alt="Full Day Trips">
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                <h5 class="card-title">Beginners Courses</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitrsed diam
                                    nonumy </p>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h4 class="title-size-14 sub-title mb-0">Scuba Diver</h4>
                                        <strong class="title-size-18 main-title">€ 180</strong>
                                    </li>
                                    <li class="list-group-item">
                                        <h4 class="title-size-14 sub-title mb-0">Open Water Diver</h4>
                                        <strong class="title-size-18 main-title">€ 280</strong>
                                    </li>
                                    <li class="list-group-item">
                                        <h4 class="title-size-14 sub-title mb-0">Adventure Diver</h4>
                                        <strong class="title-size-18 main-title">€ 100</strong>
                                    </li>
                                    <li class="list-group-item">
                                        <h4 class="title-size-14 sub-title mb-0">Advanced Open Water</h4>
                                        <strong class="title-size-18 main-title">€ 220</strong>
                                    </li>
                                    <li class="list-group-item">
                                        <h4 class="title-size-14 sub-title mb-0">Rescue Diver</h4>
                                        <strong class="title-size-18 main-title">€ 320</strong>
                                    </li>
                                    <li class="list-group-item">
                                        <h4 class="title-size-14 sub-title mb-0">Divemaster</h4>
                                        <strong class="title-size-18 main-title">€ 620</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-dots-wrapper dark-carousel-dots"></div>
            <div class="carousel-navigation-wrapper"></div>
        </div>
    </section>
</div>