<div class="container">
    <div class="row mb-5">
        <section class="col-lg-5">
            <h2 class="main-title title-size-30 dark-color">Newsletter</h2>
            <p class="sub-title title-size-16 light-grey-color">Stay tuned with Aquanaut latest offers</p>
            <form>
                <input class="main-input" type="email" placeholder="Email">
                <a class="main-button tan-sand-background">Subscribe</a>
                <p class="sub-title title-size-16 light-grey-color">Click here to <a
                        class="main-link title-size-16 sub-title">unsubscribe</a></p>
            </form>
            <section class="d-flex justify-content-between">
                <h3 class="main-title title-size-24 dark-color">Follow us</h3>
                <div class="">
                    <a class="share-icon facebook">
                        <svg class="icons" width="16" height="16">
                            <use xlink:href="../dist/svg/svg.svg#facebook"></use>
                        </svg>
                    </a>
                    <a class="share-icon twitter">
                        <svg class="icons" width="19" height="14">
                            <use xlink:href="../dist/svg/svg.svg#twitter"></use>
                        </svg>
                    </a>
                    <a class="share-icon you-tube">
                        <svg class="icons" width="16" height="16">
                            <use xlink:href="../dist/svg/svg.svg#you-tube"></use>
                        </svg>
                    </a>
                    <a class="share-icon instgram">
                        <svg class="icons" width="16" height="16">
                            <use xlink:href="../dist/svg/svg.svg#instgram-v2"></use>
                        </svg>
                    </a>
                </div>

            </section>
        </section>
        <section class="col-lg-7">
            <div class="single-carousel-item-auto-play carouse-border d-flex justify-content-between flex-wrap">
                <h2 class="main-title title-size-30 dark-color">Latest News</h2>
                <div class="carousel-dots-wrapper dark-carousel-dots"></div>
                <div class="owl-carousel">
                    <figure class="item active info-boxes white-background box-border">
                        <a class="info-boxes-link">
                            <img class="img-fluid col-12 col-sm-6 carousel-img-lg-50" src="../assets/images/home/x1/daily-diving.jpg"
                                srcset="../assets/images/home/x2/daily-diving.jpg" alt="Diving Safari" />
                            <figcaption class="col-12 col-sm-6 white-figcaption  left-arrow">
                                <h3 class="info-box-title main-title title-size-24">News Title Goes Here</h3>
                                <p class="sub-title title-size-16 light-grey-color">Lorem ipsum dolor sit amet,
                                    consetetur sadipscing elitr sed.</p>
                                <span>read more</span>
                            </figcaption>
                        </a>
                    </figure>
                    <figure class="item  info-boxes white-background box-border">
                        <a class="info-boxes-link">
                            <img class="img-fluid col-12 col-sm-6 carousel-img-lg-50" src="../assets/images/home/x1/daily-diving.jpg"
                                srcset="../assets/images/home/x2/daily-diving.jpg" alt="Diving Safari" />
                            <figcaption class="col-12 col-sm-6 white-figcaption  left-arrow">
                                <h3 class="info-box-title main-title title-size-24">News Title Goes Here</h3>
                                <p class="sub-title title-size-16 light-grey-color">Lorem ipsum dolor sit amet,
                                    consetetur sadipscing elitr sed.</p>
                                <span>read more</span>
                            </figcaption>
                        </a>
                    </figure>
                    <figure class="item  info-boxes white-background box-border">
                        <a class="info-boxes-link">
                            <img class="img-fluid col-12 col-sm-6 carousel-img-lg-50" src="../assets/images/home/x1/daily-diving.jpg"
                                srcset="../assets/images/home/x2/daily-diving.jpg" alt="Diving Safari" />
                            <figcaption class="col-12 col-sm-6 white-figcaption  left-arrow">
                                <h3 class="info-box-title main-title title-size-24">News Title Goes Here</h3>
                                <p class="sub-title title-size-16 light-grey-color">Lorem ipsum dolor sit amet,
                                    consetetur sadipscing elitr sed.</p>
                                <span>read more</span>
                            </figcaption>
                        </a>
                    </figure>
                </div>

            </div>

        </section>
    </div>

</div>