<section class="safari-widget">
    <div class="container">
        <h2 class="main-title title-size-24 dark-color my-30">Try Diving Safari</h2>
    </div>
    <div class="aqua-bg mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12  col-lg-8">
                    <p class="white-color sub-title title-size-16 py-5">Lorem ipsum dolor sit amet, consetetur
                        sadipscing
                        elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore
                        et
                        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                        rebum.
                        Stet
                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
                        sit
                        amet,
                        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                        aliquyam
                        erat,
                        sed diam voluptua. At vero eos et.</p>
                    <div class="card card-shadow mb-3 w-lg-75 p-3">
                        <div class="row g-0">
                            <div class="col-12 col-lg-4">
                                <img src="../assets/images/home/x1/boat.jpg" srcset="../assets/images/home/x2/boat.jpg"
                                    class="img-fluid rounded-start w-100" alt="M/Y AlFarouk two">
                            </div>
                            <div class="col-12 col-lg-8">
                                <div class="card-body py-0">
                                    <h3 class="card-title main-title title-size-30 dark-color">M/Y AlFarouk two</h3>
                                    <dl class="grid safari-info mb-0">
                                        <dt class="g-col-6">
                                            <svg class="icons safari-icon">
                                                <use xlink:href="../dist/svg/svg.svg#length"></use>
                                            </svg>
                                            <section>
                                                <h4 class="mb-0 main-title title-size-11 light-grey-color">length</h4>
                                                <p class="light-grey-color sub-title title-size-13 mb-0">35 m</p>
                                            </section>

                                        </dt>
                                        <dt class="g-col-6">
                                            <svg class="icons safari-icon">
                                                <use xlink:href="../dist/svg/svg.svg#beam"></use>
                                            </svg>
                                            <section>
                                                <h4 class="mb-0 main-title title-size-11 light-grey-color">beam</h4>
                                                <p class="light-grey-color sub-title title-size-13 mb-0">6 m</p>
                                            </section>
                                        </dt>
                                        <dt class="g-col-6">
                                            <svg class="icons safari-icon">
                                                <use xlink:href="../dist/svg/svg.svg#capacity"></use>
                                            </svg>
                                            <section>
                                                <h4 class="mb-0 main-title title-size-11 light-grey-color">capacity</h4>
                                                <p class="light-grey-color sub-title title-size-13 mb-0">23</p>
                                            </section>
                                        </dt>
                                        <dt class="g-col-6">
                                            <svg class="icons safari-icon">
                                                <use xlink:href="../dist/svg/svg.svg#speed"></use>
                                            </svg>
                                            <section>
                                                <h4 class="mb-0 main-title title-size-11 light-grey-color">speed</h4>
                                                <p class="light-grey-color sub-title title-size-13 mb-0">12 KTS</p>
                                            </section>
                                        </dt>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4">

                    <div class="card absloute-card card-shadow safari-info">
                        <img src="../assets/images/home/x1/wreck-diving.jpg"
                            srcset="../assets/images/home/x2/wreck-diving.jpg" class="card-img-top  p-3"
                            alt="Wreck Diving">
                        <div class="card-body">
                            <h3 class="main-title title-size-18 dark-color ">Deep South Safari</h3>
                            <ul class="grid p-0">

                                <li class="g-col-8">
                                    <h4 class="mb-0 main-title title-size-11 light-grey-color">Price</h4>
                                    <p class="light-grey-color sub-title title-size-13 mb-0">€1200</p>
                                </li>
                                <li class="g-col-4">
                                    <h4 class="mb-0 main-title title-size-11 light-grey-color">Places left</h4>
                                    <p class="light-grey-color sub-title title-size-13 mb-0">3</p>
                                </li>
                                <li class="g-col-8">
                                    <h4 class="mb-0 main-title title-size-11 light-grey-color">Dates</h4>
                                    <p class="light-grey-color sub-title title-size-13 mb-0">25.04.2022 &#65952;
                                        2.05.2022</p>
                                </li>
                                <li class="g-col-4">
                                    <h4 class="mb-0 main-title title-size-11 light-grey-color">Departure</h4>
                                    <p class="light-grey-color sub-title title-size-13 mb-0">HRG</p>
                                </li>

                            </ul>
                            <ul class="grid p-0">
                                <li class="g-col-6">
                                    <button
                                        class="transparent-btn transparent-btn-dark title-size-16 w-100">Itinerary</button>
                                </li>
                                <li class="g-col-6">
                                    <button class="main-button tan-sand-background w-100">Read more</button>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</section>