<div class="welcome-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card-body p-0">
                    <h2 class="main-title title-size-30 dark-color ">Welcome to Aquanaut</h2>
                    <p class="light-grey-color sub-title title-size-16 my-30">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        nonumy
                        eirmod tempor invidunt ut
                        labore et
                        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                        rebum. Stet
                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
                        sit
                        amet,
                        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                        aliquyam erat,
                        sed diam voluptua. At vero eos et.</p>
                    <a class="main-button tan-sand-background">Read more</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">

                <div class="carousel-wrapper max-height-320">
                    <div class="owl-carousel">
                        <div class="item active"><img src="../assets/images/home/x1/dolphine.jpg"
                                srcset="../assets/images/home/x2/dolphine.jpg" /></div>
                        <div class="item"><img src="../assets/images/home/x1/dolphine.jpg"
                                srcset="../assets/images/home/x2/dolphine.jpg" /></div>
                        <div class="item"><img src="../assets/images/home/x1/dolphine.jpg"
                                srcset="../assets/images/home/x2/dolphine.jpg" /></div>
                    </div>
                    <div class="carousel-dots-wrapper"></div>
                </div>
            </div>

        </div>
    </div>
</div>