<div class=" banner">
    <div class="container banner-titles white-color">
        <span class="sub-title title-size-16">Explore the best of</span>
        <h1 class="main-title title-size-60">The Red Sea</h1>
        <button class="transparent-btn title-size-20">Begin the journey</button>
    </div>
    <div class="banner-carousel">
        <div class="owl-carousel">
            <div class="item active"><img src="../assets/images/home/x1/banner.jpg"
                    srcset="../assets/images/home/x2/banner.jpg" /></div>
            <div class="item"><img src="../assets/images/home/x1/banner.jpg"
                    srcset="../assets/images/home/x2/banner.jpg" /></div>
            <div class="item"><img src="../assets/images/home/x1/banner.jpg"
                    srcset="../assets/images/home/x2/banner.jpg" /></div>
        </div>

        <div class="container">
            <div class="carousel-dots-wrapper vertical-carousel-dots"></div>
        </div>
    </div>
</div>