.info-boxes {
    overflow: hidden;
    margin: 0;

    &.white-background {
        color: $ateneo-blue;
        background: $white;

        figcaption {
            color: $ateneo-blue;

            &::after {
                color: $white;
            }

            .info-box-title {
                &::after {
                    border: 1px solid $light-grey;
                    opacity: 0.3;
                }
            }
        }
    }

    &.tan-sand-background {
        background: $tan-sand;

        figcaption {
            &::after {
                color: $tan-sand;
            }
        }
    }

    &.ateneo-blue-background {
        background: $ateneo-blue;

        figcaption {
            &::after {
                color: $ateneo-blue;
            }
        }
    }

    &.light-aqua-background {
        background: $light-aqua;

        figcaption {
            &::after {
                color: $light-aqua;
            }
        }
    }

    &.box-border {
        border: 1px solid rgba($light-grey, 0.1);
    }

    .info-boxes-link {
        display: flex;
        flex-wrap: nowrap;
        flex-basis: 50%;
        max-height: 292px;
        text-transform: uppercase;
        text-decoration: none;
        color: $white;

        @include media-breakpoint-down(sm) {
            flex-wrap: wrap;
            flex-basis: 100%;
            max-height: 100%;
        }
    }

    img {
        overflow: hidden;

        @include media-breakpoint-down(sm) {
            max-height: 292px;
        }
    }

    figcaption {
        padding: 0 40px;
        position: relative;
        align-self: center;
        font-family: $font-oswald;

        @include media-breakpoint-down(sm) {
            padding: 40px;
            min-height: 292px;
        }

        &.right-arrow {

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: -11px;
                width: 0;
                height: 0;
                border-left-width: 11px;
                border-left-style: solid;
                border-bottom: 12.5px solid transparent;

                @include media-breakpoint-up(sm) {
                    border-top: 12.5px solid transparent;
                }

                @include media-breakpoint-down(sm) {
                    border-top-width: 11px;
                    border-top-style: solid;
                    border-left: 12.5px solid transparent;
                    border-right: 12.5px solid transparent;
                    top: 100%;
                    right: 50%;
                }
            }
        }

        &.left-arrow {

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: -11px;
                width: 0;
                height: 0;
                border-right-width: 11px;
                border-right-style: solid;

                @include media-breakpoint-up(sm) {
                    border-top: 12.5px solid transparent;
                    border-bottom: 12.5px solid transparent;
                }

                @include media-breakpoint-down(sm) {
                    border-left: 12.5px solid transparent;
                    border-right: 12.5px solid transparent;
                    border-bottom-width: 11px;
                    border-bottom-style: solid;
                    top: -11px;
                    left: initial;
                    right: 50%;
                }
            }
        }

        .info-box-title {

            &::after {
                content: "";
                border: 1px solid $white;
                opacity: 0.3;
                width: 60px;
                display: block;
                margin: 26px 0;
            }
        }

        span {
            @extend .light-font;
            font-size: 20px;
        }
    }


}