.main-button {
    border: none;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    text-decoration: none;
    color: $white;
    @extend .light-font;
    @extend .main-title;
    @extend .title-size-16;
    @extend .white-color;
    @include transition(background 0.5s);

    &.tan-sand-background {
        background: $tan-sand;

        &:hover {
            background: $ateneo-blue;
            color: $white;
        }
    }

    &.ateneo-blue-background {
        background: $ateneo-blue;

        &:hover {
            background: $tan-sand;
        }
    }
}

.transparent-btn {
    @extend .white-color;
    @extend .main-title;
    background: transparent;
    border: 1px solid rgba($white, 0.5);
    display: block;
    padding: 9px 20px;

    &.transparent-btn-dark {
        border: 2px solid rgba($light-ateneo-blue, 0.5);
        @extend .dark-color;
        @include transition(all 0.5s);

        &:hover {
            background: $light-ateneo-blue;
            @extend .white-color;
        }
    }
}