.welcome-background {
    position: relative;
    padding: 125px 0;

    &::after {
        content: url('../../assets/images/home/x1/aqua.svg');
        background-repeat: no-repeat;
        background-position: center right;
        background-size: contain;
        position: absolute;
        top: -10px;
        right: 0;
        z-index: -1;
    }

    @include media-breakpoint-down(lg) {

        &::after {
            top: initial;
            bottom: -50px;
        }

        .card-body {
            margin-bottom: 20px;
        }
    }


    @include media-breakpoint-down(md) {
        padding: 50px 0;

        &::after {
            content: "";
        }
    }
}
.card{
    border:none;
    border-radius: 0;
    img{
        border-radius: 0;
    }
}