.activites-bg {
    background-image: url(../../assets/images/home/x1/sea-bg.svg);
    @extend .aqua-bg;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 60vh;
    min-width: 100%;
    position: relative;
    margin-top: -397px;
    z-index: -1;

    @include media-breakpoint-up(xl) {
        height: 70vh;
    }

    @include media-breakpoint-down(sm) {
        height: auto;
        margin-top: 0;
    }
}

.diving-courses-section {
    margin-top: -172px;

    @include media-breakpoint-down(sm) {
        margin-top: 0;
    }

    .single-carousel-item {
        z-index: 1;
        position: relative;
    }
}

.diving-courses-card {
    background: $ateneo-blue;
    @extend .white-color;

    .card-body {
        padding: 50px 40px;
    }

    .list-group {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 16px;

        @include media-breakpoint-down(sm) {
            grid-template-columns: auto;
        }

        .list-group-item {
            @extend .white-color;
            border: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: rgba($white, 0.1);

            h4 {}

            strong {
                white-space: nowrap;
            }
        }
    }


}

.safari-info {

    section {
        display: inline-block;
    }

    .safari-icon {
        width: 35px;
        height: 30px;
        fill: $dark-sand;
        display: inline-block;
        margin-right: 10px;
    }

    ul {
        li {
            list-style-type: none;
        }
    }
}

.safari-widget {

    @include media-breakpoint-up(lg) {
        margin: 200px 0;

        .aqua-bg {
            max-height: 300px;
        }

        .absloute-card {
            margin-top: -100px;
        }

        .w-lg-75 {
            width: 75%;
        }
    }
}