.main-title{
    font-family: $font-oswald;
    text-transform: uppercase;
}
.sub-title{
    font-family: $font-montserrat;
}
.title-size-60{
    font-size: 60px;
}
.title-size-30{
    font-size: 30px;
}
.title-size-24{
    font-size: 24px;
}
.title-size-20{
    font-size: 20px;
}
.title-size-18{
    font-size: 18px;
}
.title-size-16 {
    font-size: 16px;
}
.title-size-14{ 
    font-size: 14px;
}
.title-size-13{
    font-size: 13px;
}
.title-size-12{
    font-size: 12px;
}
.title-size-11{
    font-size: 11px;
}
.dark-color {
    color: $ateneo-blue;
}

.white-color {
    color: $white;
}
.light-grey-color{
    color: $light-grey;
}
.aqua-color{
    color: $dark-aqua;
}
.aqua-bg{
    background-color: $dark-aqua;
}
.light-font {
    font-weight: lighter;
}


.my-30{
    margin: 30px 0;
}
.max-height-320{
    max-height: 320px;
}
.dark-bg{
    background: $ateneo-blue;
}
.widget-border-white{
    border-top:1px solid rgba(255,255,255,0.16);
}
.white-icon{
    svg {
        use {
            fill: $white;
            @include transition(all 0.5s);
        }
    }
}
.dark-icon{
    svg {
        use {
            fill: $ateneo-blue;
            @include transition(all 0.5s);
        }
    }
}
.transparent-icon{
    svg {
        use {
            fill: transparent;
        }
    }
}
.arrow-beside-title{
    &::after{
        content: "\2192";
        color: $dark-aqua;
    }
}

    
.main-input {
    height: 50px;
    line-height: 50px;
    float: left;
    border: 1px solid rgba($light-grey,0.1);
    border-right: 0;
    padding: 15px
}
.main-link{
    text-decoration: underline;
    color: $ateneo-blue;
}
.card-shadow{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}
.border-widget{
    border: 1px solid rgba($light-grey,0.1);
}