$enable-negative-margins: true;
$enable-cssgrid: true;
@import "node_modules/bootstrap/scss/bootstrap";
// @import '/node_modules/owl.carousel/dist/assets/owl.carousel.min.css';
// @import '/node_modules/mmenu-js/dist/mmenu.css';
@import "../../scss/vendors/mmenu.css";
@import "../../scss/vendors/owl.carousel.min.css";
@import url('https://fonts.googleapis.com/css?family=Courgette|Saira|Open Sans');

@import"abstracts/variables";
@import"abstracts/mixins";
@import"common-classes";
@import"component/buttons";
@import"layout/header";
@import"layout/banner";
@import"component/boxes";
@import"component/horizontal-card-widget";
@import"component/info-card";
@import"vendors/carousel-customize";
@import"vendors/dropdown-customize";
@import"layout/footer";

html, body {
    height: 100%;   
}
body {
    margin: 0;
    overflow-x: hidden;
    
}